label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;
}

#wrapper{
    font-family: sans-serif;
    margin: 0px auto;
    width: 1200px;
    background-color: aqua;
    padding: 25px;
}

#header{
    padding: 25px;
    background-color: burlywood;
    margin-bottom: 25px;
}

.subhead{
    display: inline-block;
    vertical-align: center;
    margin: 5px;
}

#forms{
    width: 900px;
    background-color: white;
    padding: 25px;
    margin-left: 100px;
}

.form{
    display: inline-block;
    vertical-align: top;
    background-color: burlywood;
    margin: 45px;
    text-align: center;
    padding: 25px;
    width: 300px;
    height: 500px;
}

.submit{
    display: block;
    margin-top: 25px;
    margin-left: 120px;
}