<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit page</title>
</head>
<body>
    <h1>you're on the edit page, welcome {{edit_mess.poster.first_name}}</h1>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <a href="/success">return home</a>
    <br><br>

    <form action="/edit/{{edit_mess.id}}" method="POST">
        {% csrf_token %}
        <input type="text" name="content" placeholder="{{edit_mess.content}}">
        <input type="submit" value="Edit">
    </form>
    
</body>
</html>