<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Log and Reg</title>
    <style>
        .form{
            display: inline-block;
            vertical-align: top;
        }
    </style>
</head>
<body>
    
    {% for message in messages %}    
        <li>{{ message }}</li>    
    {% endfor %}

<div class="form">
    <h3>Register:</h3>
    <form action="/register" method="POST">
        {% csrf_token %}
        <p>First Name</p>
        <input type="text" name="first_name">
        <p>Last Name</p>
        <input type="text" name="last_name">
        <p>Email</p>
        <input type="text" name="email">
        <p>Password</p>
        <input type="text" name="password">
        <p>Confirm pw</p>
        <input type="text" name="confirm_password">
        <input type="submit" name="Register">
    </form>
</div>

<div class="form">
<h3>Login:</h3>
    <form action="/login" method="POST">
        {% csrf_token %}
        <p>Email</p>
        <input type="text" name="email">
        <p>Password</p>
        <input type="text" name="password">
        <input type='submit' value="Login">
    </form>
</div>


</body>
</html>