<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile page</title>
    <a href="/logout">Logout</a>
</head>
<body>
    
    {% block content %}

    <h1>{{one_user.first_name}} {{one_user.last_name}}'s profile</h1>
    <a href="/success">return home</a>

    <h2>their posts:</h2>
    <ul>
        {% for one_mess in one_user.messages.all %}
        <li>{{one_mess.content}}</li>
        {% endfor %}
    </ul>

    <h2>their comments:</h2>
    <ul>
        {% for one_comm in one_user.comments.all %}
        <li>{{one_comm.content}}</li>
        {% endfor %}
    </ul>

    {% endblock %}
</body>
</html>