<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Wall</title>
    {% load static %}
    <link rel="stylesheet" href="{ % static 'style.css' %}">
    <link rel="stylesheet" href="{ % static 'mess_style.css' %">
</head>

<body>
    {% load static %}
    
    {% block content %}
    
    <div id="wrapper"></div>
        <div id="header">
        <!-- <h1>{{request.session.name }}, you've logged in!</h1> -->
        <h2>post a message:</h2>
        </div>
        <form id='mess_form' action="/create_message" method="POST">
            {% csrf_token %}
            <textarea id="story" name="content" rows="5" cols="120"></textarea><br>
            <input class='submit' type="submit" value="Post">
        </form>

        <div id="messages">
            {% for one_mess in all_messages %}
            <div class="message">
                <h5><a href="/profile/{{one_mess.poster.id}}">{{one_mess.poster.first_name}} {{one_mess.poster.last_name}}</h5></a>
                <p>{{one_mess.content}}</p>
                <p>{{one_mess.created_at}}</p>
                {% if request.session.user_id == one_mess.poster.id %}
                <p><a href="/edit/{{one_mess.id}}">edit</a> | <a href="/delete/{{one_mess.id}}">delete</a></p>
                {% endif %}
                <a href="/like/{{one_mess.id}}">Like</a>
                <p>Likes: {{one_mess.likes.count}}</p>
                <form action="/add_comment/{{one_mess.id}}" method="POST">
                    {% csrf_token %}
                    <textarea id="story" name="content" rows="1.5" cols="120"></textarea>
                    <input type="submit" value="Add Comment">
                </form>
                <h6>Comments:</h6>
                {% for one_comm in one_mess.comments.all %}
                <p>{{one_comm.content}}</p>
                <p>posted on {{one_comm.created_at}}</p>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>

    {% endblock %}


</body>

</html>