{% extends 'base.html' %}
{% block content %}

<h1>about me</h1>
<br>

<form action ="{% url 'add_stock' %}" class="form-inline my-2 my-lg-0" method="POST">
    {% csrf_token %}
  <input class="form-control mr-sm-2" type="search" placeholder="Add to Portfolio" aria-label="Search" name="ticker">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add Stock</button>
</form>

<br>

<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Company Name</th>
      <th scope="col">Price</th>
      <th scope="col">Previous Close</th>
      <th scope="col">Market Cap</th>
      <th scope="col">YTD Change</th>
      <th scope="col">52wk High</th>
      <th scope="col">52wk Low</th>
    </tr>
  </thead>
  <tbody>
  {% if ticker %}

          {% for list_item in output %}
            <tr>
              <th scope="row">{{ list_item.companyName }}</th>
              <td>${{ list_item.latestPrice }}</td>
              <td>${{ list_item.previousClose }}</td>
              <td>${{ list_item.marketCap }}</td>
              <td>{{ list_item.ytdChange }}%</td>
              <td>${{ list_item.week52High }}</td>
              <td>${{ list_item.week52Low }}</td>        
            </tr>
          {% endfor %}       

  </tbody>
</table>
{% endif %}

<!-- <table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table> -->


<br><br>




{% endblock %}