{% extends 'base.html' %}
{% block content %}

<h1>Delete Stock</h1>
<br>
{% if ticker %}

    {% for item in ticker %}
        <a href="{% url 'delete' item.id %}" class="btn btn-secondary">Delete {{ item }}</a>
        <br><br>
    {% endfor %}

{% else %}
    you don't have any stocks...
{% endif %}


{% endblock %}